 @property --current-challenge {
    syntax: "<number>";
    initial-value: 0;
}

@property --new-challenge {
    syntax: "<number>";
    initial-value: 1;
}

@view-transition {
    navigation: auto;
}

 :root {
        --color: #fb9002;
        --radius: 25px;
        --border: 1px solid var(--color);
        --shadow: 0px 0px 3px #f9c20d, 0px 0px 10px #f9c20d75;
        --bg-color: #000000da;
    }

body{
    background-color: #1a1630;
    background-image: 
    url("../assets/images/city.webp");
    background-size:  cover;
    background-position: left center;
    height: 100dvh;
    margin:0;
    padding: 0;
    position: relative;
    view-transition-name: city-bg;
    overflow: hidden;

    &::before{
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/rooftop.webp");
        background-size: 100% 100%;
        background-position: left 265px;
        background-repeat: no-repeat;
    }
}





