 @property --current-challenge {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

@property --new-challenge {
    syntax: "<number>";
    initial-value: 1;
    inherits: false;
}

@view-transition {

}

:root {
    background-color: #1f2032;
    --current-position: calc(100dvh/11 * (var(--current-challenge) - 1));   
    --position-challenge: calc(100dvh/11 * (var(--new-challenge) - 1));    
}

body{
    background-color: #1a1630;
    background-image: 
    url("../assets/images/city.webp");
    background-size:  cover;
    background-position: left center;
    height: 100dvh;
    margin:0;
    padding: 0;
    position: relative;
    view-transition-name: city-bg;
    overflow: hidden;

    &::before{
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/rooftop.webp");
        background-size: 100% 100%;
        background-position: left 265px;
        background-repeat: no-repeat;
    }
}

aside{
     --pos: 0px;
    width: 4.5rem;
    position: absolute;
    z-index:4;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        z-index: 2;
        width: 150px;
        height: calc(var(--current-position) + 2rem);
        background-image: linear-gradient(
            to right, 
            transparent 0%, 
            transparent 30px, 
            #4c2916 30px,
             #4c2916 32px,
                transparent 35px,
                transparent 100%
             );
        background-size: 100% 100%;
        background-position: left 0%;
        background-repeat: no-repeat;
        translate: 11.6rem 0px;
        animation: resize 1s ease forwards;
    }

    ul{
        list-style: none;
        height: 100dvh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(11,1fr);
        margin: 0;
        padding: 0;

         &::after{
        content: "";
        position: absolute;
        z-index: 22;
        width: 150px;
        height: 150px;
        background-image: url("../assets/images/girl.webp");
        background-size: 150px 900px;
        background-position: left 0px;
        background-repeat: no-repeat;
        translate: 10rem var(--current-position);
        animation: climbRope 2.5s steps(6) infinite,
                   moveGirl 1s ease forwards;
    }
    }

    li{
        background-image: url("../assets/images/dark-window.webp");
        background-size: 100% 100%;
        font-size: 3rem;
        padding-right: 4rem;
        font-family: "Casual Memories";
        color: #ef8318;
        text-shadow: 0px 0px 10px #000,  0px 0px 30px #000, 0px 0px 40px #000, 0px 0px 50px #000,
        0px 0px 90px #fc8840, 0px 0px 100px #fc8840, 0px 0px 150px #fc8840;
        width: 100%;
        display: grid;
        place-items: center;   

        a{
        position: relative;
        transition: transform 0.2s ease;
        &:hover{
            transform: scale(1.1);
            z-index: 10;
        }
    }
    }

    li:has(.prev, .next){
        display: flex;
        gap:0;
        margin: 0;
    }

    a img{
        width: 100%;
        translate: 2rem 0rem;
        filter: 
        drop-shadow(0px 0px 2px #000)
        drop-shadow(0px 0px 5px #000000d5)
        drop-shadow(0px 0px 7px #000000c4)
        drop-shadow(0px 0px 15px #fc88408f);
    }

    a.next img{
        transform: rotateY(180deg);
    }

    

/*     li a.prev, li a.next{
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/arrow.webp");
        background-size: auto 100%;
        background-repeat: no-repeat;
        margin:0;

    } */

    li a{
        text-decoration: none;
                color: #ef8318;
        text-align: center;
        width: 100%;
    }
}



/*****************************************************/
/* Revisa */
 :root {
        --color: #fb9002;
        --radius: 25px;
        --border: 1px solid var(--color);
        --shadow: 0px 0px 3px #f9c20d, 0px 0px 10px #f9c20d75;
        --bg-color: #000000da;
    }

    main {
        color: #fff;
        width: calc(100% - 18rem);
        height: 100%;
        position: absolute;
        top: 0;
        right: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding: 5rem;
        padding-bottom: 10rem;
        box-sizing: border-box;

        .advice,
        .reto {
            border-radius: var(--radius);
            border: var(--border);
            background-color: var(--bg-color);
            box-shadow: var(--shadow);
        }

        .reto {
            height: 100%;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                filter: drop-shadow(0px 0px 7px #fb8f026e) drop-shadow(0px 0px 15px #fb8f026c);
                background-image: url(../assets/images/window.webp);
                background-size: 6rem auto;
                width: 6rem;
                height: 6rem;
                background-repeat: no-repeat;
                top: 2rem;
                right: 2rem;
            }
        }

        .info {
            box-sizing: border-box;
            display: grid;
            grid-template-rows: 1fr 2fr 1.5fr;
            justify-content: start;
            gap: 0;

            h3 {

                font-family: "Jost";
                font-weight: 900;
                font-size: 2rem;

                span {
                    color: var(--color);
                }
            }

            .info-retos {
                * {
                    margin: 0;
                }

                p {
                    font-family: "Jost";
                    font-size: 2rem;
                    padding-bottom: 1rem;
                    background-image: url(../assets/images/decoration.webp);
                    width: fit-content;
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    background-position: left bottom;

                }
            }

            .header {
                * {
                    margin: 0;
                }

                h1 {
                    font-family: "Casual Memories";
                    letter-spacing: 2px;
                    font-size: 5rem;
                }

                p {
                    font-family: "Jost";
                    font-size: 1.7rem;
                    width: 50%;
                }
            }

            .advice {
                width: 90%;
                box-sizing: border-box;
                position: relative;


                &::after {
                    content: "";
                    position: absolute;
                    filter: drop-shadow(0px 0px 7px #fb8f026e) drop-shadow(0px 0px 15px #fb8f026c);
                    background-image: url(../assets/images/window.webp);
                    background-size: 4rem auto;
                    width: 4rem;
                    height: 4rem;
                    background-repeat: no-repeat;
                    top: 1rem;
                    right: 1rem;
                }


                * {
                    margin: 0;
                }

                h4 {
                    color: var(--color);
                    font-family: "Jost";
                    font-weight: 900;
                    letter-spacing: 2px;
                    font-size: 3rem;
                    margin: 1rem 2rem;

                }

                p {
                    font-family: "Jost";
                    font-size: 1.5rem;
                    font-weight: 900;
                    width: 85%;
                    border-radius: 15px;
                    border: var(--border);
                    padding: 1rem;
                    margin: 1rem 2rem;
                    height: 35%;
                    display: grid;
                    place-items: center;
                    background-color: #ffffff11;
                }
            }
        }
    }

/*****************************************************/


@keyframes climbRope {
    to{
        background-position: left -900px;
    }
}

@keyframes moveGirl {
    0% {
        translate:  10rem var(--current-position);
    }

    100% {
        translate:  10rem var(--position-challenge);
    }
}

@keyframes resize {
    0% {
        height: calc(var(--current-position) + 2rem);
    }

    100% {
        height: calc(var(--position-challenge) + 2rem);
    }
}